<!DOCTYPE html>
<html>
<head>
  <title>Edit Todo</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <h1>Edit Task</h1>

    <form action="/update/<%= todo.id %>" method="POST" class="edit-form">
      <input type="text" name="task" value="<%= todo.task %>" required autofocus>
      <button type="submit">Save</button>
    </form>

    <a href="/" class="back">Back</a>
  </div>

</body>
</html>
